html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-size: 16px;
    background-color: #B7B7E788;
    font-family: 'Karla', sans-serif;
    width: 100vw;
    height: 100vh;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
    padding-bottom: 15px;
}

.textFlex{
    display: flex;
}
.textFlex_1{
    font-weight: 700;
    font-size: 40px;
}
.textFlex_2{
    padding-left: 20px;
    margin-top: 17px;
    color: #e5eff5;
    font-weight: 400;
}
ul{
    color: #e5eff5;
    font-weight: 400;
    list-style-type: none;
    padding: 0;
}

h1{
    font-size: 1.6rem;
   color: #2ab2af; 
}
#subTitle{
    font-size: 1.2rem;
    color: #c0df34;
}
#pTextUp{
    color: #98a6bd;
}

.bigBox{
    position: relative;
    left: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    transform: translate(-50%,0);
    border-radius: 8px; 
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.topBox{
    flex-basis: 30%;
    background-color: white;
    box-shadow: 7px 3px 13px 3px rgba(0,0,0,0.32);
    margin-bottom: 20px;
}

.bottomBox{
    flex-basis: 70%;
    color: white;
    display: flex;
    flex-direction: column;
}


.bB1{
    background-color:#2ab2af;

    box-shadow: 7px 3px 13px 3px rgba(0,0,0,0.32);
}

.bB2{
    background-color:#2ab2afdd ;
    box-shadow: 7px 3px 13px 3px rgba(0,0,0,0.32);
}



.topBox,.bottomBox{
    width: 100%;
}

.bB1, .bB2{

    flex-basis: 50%;
    margin-bottom: 20px;
}

.topBox,.bB1,.bB2{
    padding: 25px;
}

button{
    margin: 20px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #2ab2af;
    text-align: center;
    width: 80%;
    height: 25%;
    color: white;
    background-color: #c0df34;
    border-radius: 6px;
    box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.3);
    
}
button:hover{
    cursor: pointer;
    font-size: 20px;
    background-color: #c0df34dd;
    box-shadow: 10px 10px 20px 7px rgba(0,0,0,0.64);
}

@media (min-width:700px){
    
    
    
    .bigBox{
        box-shadow: 7px 3px 13px 3px rgba(0,0,0,0.32); /* I used a box shadow generator for css*/
        border-radius: 8px;
        overflow: hidden; /*this one make everything that overflow the container dont show*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 60vw;
        height: 65vh;
        
        
    }
    
    .topBox{
        flex-basis: 60%;
        margin: 0;
        box-shadow:0;
    }
    
    .bottomBox{
        flex-basis: 40%;
        flex-direction: row;
        position:relative;
    }
    
    .bB1, .bB2{
        box-shadow:0;
        margin: 0;
    }
    
    .topBox,.bB1,.bB2{
        padding: 35px;
    }
    
    
}

@media (min-width:1150px){
    .bigBox{
        box-shadow: 7px 3px 13px 3px rgba(0,0,0,0.32); /* I used a box shadow generator for css*/
        border-radius: 8px;
        overflow: hidden; /*this one make everything that overflow the container dont show*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 40vw;
        height: 55vh;
        
        
    }
    
    .topBox{
        flex-basis: 60%;
        margin: 0;
        box-shadow:0;
    }
    
    .bottomBox{
        flex-basis: 40%;
        flex-direction: row;
        position:relative;
    }
    
    .bB1, .bB2{
        box-shadow:0;
        margin: 0;
    }
    
    .topBox,.bB1,.bB2{
        padding: 35px;
    }
}
